<table border="2">
  <thead>
    <th (click)="updateKey('name')">Name</th>
    <th (click)="updateKey('email')">Email</th>
    <th (click)="updateKey('phone')">Phone</th>
  </thead>
  <tbody>
    <tr *ngFor="let s of mystds|sortbykey:key">
      <td>{{s.name}}</td>
      <td>{{s.email}}</td>
      <td>{{s.phone}}</td>
    </tr>
  </tbody>
</table>



<h1>{{salary|number:'5.1-2'}}</h1>
<h1>{{salary|currency:'EUR'}}</h1>
<h1>{{salary}}</h1>
<h1>{{mydob}}</h1>
<h1>{{mydob|date}}</h1>
<ul>
  <li *ngFor="let s of students|sort">{{s}}</li>
</ul>
